body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
font-size: 5.625rem;
color: #66BFBF;
  margin:50px auto 0 auto ;
  font-family: 'Sacramento', cursive;

}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
a{
  color: #11999E;
  font-family: Montserrat,sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

.top-container{
    background-color: #c2f0fc;
    position: relative;
    padding-top: 100px;

}

.middle-container{
padding-top: 100px;

}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top: 40px;
}

.firstp{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin:20px auto 0 auto;

}
.footer-link{
  color:#11999E;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.skill-coding{
  width: 25%;
  float: left;
margin-right: 30px;

}
.skill-network{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact_message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0px;
}
.myButton {
	background-color:#768d87;
	border-radius:8px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cfe8e4;
  margin-bottom: 100px;
}
.myButton:hover {
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
